<div class="artist">
  <img class="avatar-large avatar-bordered" src="<%= @artist.image_url %>">
  <div class="artist-name">
    <%= @artist.name %>
  </div>
</div>

<%= link_to 'Add Album', new_artist_album_path(@artist) %>


<h1>Albums</h1>
<% if @artist.albums.any? %>
  <ul>
    <% @artist.albums.each do |album| %>
    <li><%= album.title %></li>
    <% end %>
  </ul>
<% else %>
  <p>This artist doesn't have any albums yet!</p>
<% end %>
